.git
.idea
.DS_Store
.editorconfig

app/var/
app/vendor/
app/tools/
app/public/assets/
app/assets/vendor/

app/.env.local
app/.env.local.php
app/.env.*.local

app/tests/
app/phpunit.dist.xml
app/phpunit.xml
app/.phpunit.cache/

/docs/
/.env
/.env.example
/compose.yaml
/compose.dev.yaml
/Dockerfile
/.dockerignore

*.md
