{% trans_default_domain 'dicepoker' %}
<div class="space-y-6" data-controller="optimistic">
    {# ---------- dice tray ---------- #}
    {% include 'components/dice_tray.html.twig' with {
        dice: view.dice,
        dieFace: view.dieFace,
        diePip: view.diePip,
        hasRolled: view.hasRolled,
        canRoll: view.canRoll,
        rollsLeft: view.rollsLeft,
        myTurn: view.myTurn,
    } %}

    {# ---------- scorecard ---------- #}
    {% include 'components/score_sheet.html.twig' with {
        rows: view.rows,
        players: view.players,
        domain: 'dicepoker',
        labelPrefix: 'dicepoker.category.',
        hintPrefix: 'dicepoker.hint.',
        canScore: view.canScore,
        inserts: {
            sixes: {title: 'dicepoker.upper_bonus'|trans, values: view.upperBonusValues},
        },
        totals: {title: 'dicepoker.total'|trans, values: view.totals},
    } %}
</div>
