{% trans_default_domain 'ludo' %}
<div class="mx-auto w-fit" data-controller="dragdrop--piece-move optimistic"
     data-dragdrop--piece-move-moves-value="{{ view.moves|json_encode|e('html_attr') }}">
    <div class="mb-3 flex min-h-11 flex-wrap items-center justify-center gap-3">
        {% if view.canRoll or view.roll is not null %}
            {% include 'components/die_roller.html.twig' with {
                value: view.roll|default(1),
                symbol: view.roll is null ? '?' : null,
                restartKey: view.rollSeq,
                canRoll: view.canRoll,
                class: 'size-20',
            } %}
        {% endif %}
    </div>

    <form method="post" action="{{ path('app_game_move', {code: lobby.code}) }}" data-dragdrop--piece-move-target="form" class="hidden">
        <input type="hidden" name="_token" value="{{ csrf_token('game') }}">
        <input type="hidden" name="action" value="move">
        <input type="hidden" name="from" data-dragdrop--piece-move-target="from">
        <input type="hidden" name="to" data-dragdrop--piece-move-target="to">
    </form>

    {% include 'components/board.html.twig' with {board: view.board} %}
</div>
